body {
    background-color: #f8f9fa;
    color: #212529;
    font-family: "Poppins", sans-serif;
    ::selection {
        color: #fff;
        background-color: #1cbe8e;
    }
}

.main-section {
    .main-box {
        position: relative;
        .mainbox-info {
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 3rem;
            .title-box {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                margin-top: 3rem;
                h1 {
                    font-size: 2.5rem;
                    color: #333;
                }
            }
            .functions {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                margin-top: 10px;
                gap: 15px;
                button {
                    padding: 5px 10px;
                    margin-bottom: 4px;
                    border-radius: 10px;
                    border: none;
                    background-color: #1cbe8e;
                    color: #fff;
                }
                .btn-all,
                .btn-active,
                .btn-completed,
                .btn-clear,
                .btn-search {
                    padding: 0;
                    margin: 0;
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .underline {
                        opacity: 0;
                        border-radius: 50px;
                        background-color: lightslategray;
                        transition: 0.2s ease-in-out;
                    }
                }

                .btn-all {
                    .underline {
                        opacity: 1;
                        padding: 2px 20px;
                    }
                }
                .btn-active {
                    .underline {
                        padding: 2px 35px;
                    }
                }

                .btn-completed {
                    .underline {
                        padding: 2px 55px;
                    }
                }

                .btn-clear {
                    .underline {
                        padding: 2px 20px;
                        background-color: transparent;
                    }
                }

                .btn-search {
                    .underline {
                        padding: 2px 18px;
                    }
                }
            }
        }
        #search-box {
            margin: auto;
            margin-top: 1rem;
            opacity: 0;
            vertical-align: middle;
            visibility: hidden;
            transition: all 0.5s ease;
            transform: translateY(-10px);
            white-space: nowrap;
            height: 0;
            overflow: hidden;

            .search-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                input {
                    border: none;
                    border-radius: 15px;
                    width: 50%;
                    padding: 15px;
                    background-color: #dedede;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // position: absolute;
                }
                button {
                    i {
                        font-size: 1.5rem;
                    }
                    padding: 12px 15px;
                    border-radius: 10px;
                    border: none;
                    background-color: #1cbe8e;
                    margin-left: 15px;
                    color: #fff;
                }
            }
            &.active {
                opacity: 1;
                visibility: visible;
                vertical-align: middle;
                transform: translateY(0);
                transition: all 0.5s ease;
                height: auto;
            }
        }

        .title-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 1rem;
        }
        .input-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem auto;
            input {
                border: none;
                border-radius: 15px;
                width: 50%;
                padding: 15px;
                background-color: #dedede;
                outline: none;
            }
            button {
                i {
                    font-size: 2rem;
                }
                padding: 10px 15px;
                border-radius: 10px;
                border: none;
                background-color: #1cbe8e;
                margin-left: 15px;
                color: #fff;
            }
        }
    }

    #tasks-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 60%;
        background-color: transparent;
        padding: 20px;
        border-radius: 20px;
        display: none;

        h4 {
            font-weight: 400;
        }

        #box {
            width: 20%;
        }
    }

    .task-item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100% !important;
        max-width: none;
        background-color: #fff;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: left;
        border: #ced4da;
        word-wrap: break-word;
        overflow-wrap: break-word;

        p {
            font-size: 18px;
            color: #333;
            margin: 0;
            padding: 5px 0;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            flex-grow: 1;
            word-break: break-word;
            white-space: normal;
            max-width: 70%;
        }

        .btn-complete,
        .btn-delete,
        .btn-edit {
            border: none;
            background: none;
            font-size: 18px;
            cursor: pointer;
            margin-left: 10px;
            padding: 5px;
            border-radius: 5px;
            flex-shrink: 0;
            width: auto;
            display: flex;
            justify-content: flex-end;
        }

        .btn-complete {
            color: #1cbe8e;
            font-weight: 600;
            font-size: 1.5rem;
            &:hover {
                background-color: #e0f8ef;
            }
        }

        .btn-delete {
            color: #ff4d4d;
            font-weight: 600;
            font-size: 1.5rem;
            &:hover {
                background-color: #ffe0e0;
            }
        }

        .btn-edit {
            color: #3498db;
            font-weight: 600;
            font-size: 1.2rem;
            &:hover {
                background-color: #e0ecf8;
            }
        }

        .edit-input {
            width: 100%;
            font-size: 16px;
            padding: 4px 8px;
            border-radius: 4px;
            outline: none;
            color: #212529;

            &:focus {
                border-color: transparent;
                background: transparent;
            }
        }
    }
    .completed {
        text-decoration: line-through;
        color: gray !important;
        opacity: 0.7;
    }
}

@media (max-width: 1024px) {
    .search-box {
        input {
            width: 70% !important;
            padding: 12px;
        }

        button {
            padding: 8px 12px;
        }
    }

    .functions {
        flex-wrap: wrap;
        button {
            margin: 10px 0;
        }
    }

    .main-section .input-box input {
        width: 100%;
    }

    #tasks-box {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .search-box {
        input {
            width: 70% !important;
            padding: 12px;
        }

        button {
            padding: 8px 12px;
        }
    }

    .functions {
        flex-wrap: wrap;
        button {
            margin: 10px 0;
        }
    }

    .main-section .input-box input {
        width: 90%;
        padding: 12px;
    }

    .main-section .input-box button {
        padding: 8px 12px;
    }

    #tasks-box {
        width: 100% !important;
    }

    .task-item p {
        font-size: 16px;
    }

    .task-item .btn-complete,
    .task-item .btn-delete {
        font-size: 1.2rem;
    }
}
@media (max-width: 480px) {
    .search-box {
        display: flex;
        input {
            width: 100% !important;
            padding: 12px;
        }

        button {
            padding: 8px 12px;
        }
    }

    .functions {
        flex-wrap: wrap;
        button {
            margin: 10px 0;
        }
    }

    .main-section .title-box {
        text-align: center;
    }

    .main-section .input-box input {
        width: 100% !important;
    }

    .main-section .input-box button {
        width: auto;
        font-size: 1.2rem;
    }

    #tasks-box {
        width: 100%;
        padding: 15px;
    }

    .task-item {
        // flex-wrap: wrap;
        width: 100%;
    }

    .task-item p {
        flex-basis: 70%;
        word-break: break-word;
    }

    .task-item .btn-complete,
    .task-item .btn-delete {
        font-size: 1rem;
        margin-left: 10px;
    }
}
